files:
 - /var/log/nginx/*
 - /var/log/uwsgi/*
 - /var/log/postgresql/*
 - /var/log/adhoc/*

destination:
  host: {{  papertrail_logging_host }}
  port: {{  papertrail_logging_port }}
  protocol: {{ papertrail_protocol }}
